#profile {
    position: relative;
}

#profile img[rel="avatar"] {
    position: absolute;
    left: 35px;
    top: 125px;
    width: 100px;
    height: 100px;
    border: 5px solid #f5f5f5;
    z-index: 9000;
}

#profile .slider {
    position: relative;
    width: 100%;
    height: 150px;
    top: 0;
    left: 0;
    margin: 0 auto;
}

#profile .slider > div {
    position: absolute;
    width: 100%;
    height: 150px;
    overflow: hidden;
    /*margin: 0 10px;*/
}

.slider-item:nth-of-type(1) {
    background-image: url('../img/s1.jpg');
    background-size: cover;
    opacity: 1;

    animation: cycle 25s linear infinite;
}

.slider-item:nth-of-type(2) {
    background-image: url('../img/s2.jpg');
    background-size: cover;
    opacity: 0;

    animation: cycletwo 25s linear infinite;
}

.slider-item:nth-of-type(3) {
    background-image: url('../img/s3.jpg');
    background-size: cover;
    opacity: 0;

    animation: cyclethree 25s linear infinite;
}

.slider-item:nth-of-type(4) {
    background-image: url('../img/s4.jpg');
    background-size: cover;
    opacity: 0;

    animation: cyclefour 25s linear infinite;
}

.slider-item:nth-of-type(5) {
    background-image: url('../img/s5.jpg');
    background-size: cover;
    opacity: 0;

    animation: cyclefive 25s linear infinite;
}

@keyframes cycle {
    0%  { opacity: 1; }
    16% { opacity: 1; }
    20% { opacity: 0; }
    36% { opacity: 0; }
    40% { opacity: 0; }
    56% { opacity: 0; }
    60% { opacity: 0; }
    76% { opacity: 0; }
    80% { opacity: 0; }
    96% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes cycletwo {
    0%  { opacity: 0; }
    16% { opacity: 0; }
    20% { opacity: 1; }
    36% { opacity: 1; }
    40% { opacity: 0; }
    56% { opacity: 0; }
    60% { opacity: 0; }
    76% { opacity: 0; }
    80% { opacity: 0; }
    96% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes cyclethree {
    0%  { opacity: 0; }
    16% { opacity: 0; }
    20% { opacity: 0; }
    36% { opacity: 0; }
    40% { opacity: 1; }
    56% { opacity: 1; }
    60% { opacity: 0; }
    76% { opacity: 0; }
    80% { opacity: 0; }
    96% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes cyclefour {
    0%  { opacity: 0; }
    16% { opacity: 0; }
    20% { opacity: 0; }
    36% { opacity: 0; }
    40% { opacity: 0; }
    56% { opacity: 0; }
    60% { opacity: 1; }
    76% { opacity: 1; }
    80% { opacity: 0; }
    96% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes cyclefive {
    0%  { opacity: 0; }
    16% { opacity: 0; }
    20% { opacity: 0; }
    36% { opacity: 0; }
    40% { opacity: 0; }
    56% { opacity: 0; }
    60% { opacity: 0; }
    76% { opacity: 0; }
    80% { opacity: 1; }
    96% { opacity: 1; }
    100% { opacity: 0; }
}

.name h1 {
    letter-spacing: -1px;
    font-size: 24px;
    margin: 10px 0;
}